  body {
        background-color: #FFFFF0;
        color: #FF0066;
        background: url("coffee3.jpg") no-repeat top center;
        height"45"; width "45";

        font-family: Arial, Verdana, sans-serif;
        }
  h1    {
        background-color: #FFCCFF;
        color: #FF0066;
        line-height: 200%;
        font-family: Georgia, "Times New Roman", serif;
        }
  h2    {
        background-color: #FF0000;
        color: #FF0000;
        font-family: Georgia, "Times New Roman", serif;
        text-align: center;
        }
  p     {
        color: #FF0000;
        font-size: .90em;
        }
  ul    {
        font-weight: bold;
        }
  .nav  {
        color: #FF0066;
        font-weight: bold;
        font-size: 1.50em;
        }
  #footer
        {
        color: #FF0000;
        font-size: .75em;
        font-style: italic;
        }
  .companyname
        {
          font-weight: bold;
          font-family: Georgia, "Times New Roman", serif;
          font-size: 1.25em;
        }
  dt
        {
          font-weight: bold;
          font-size: 1.00em;
        }
