  body {
        background-color: #FFFFF0;
        color: #FF0066;
      background: url("coffee3.jpg")no-repeat right bottom;


        font-family: Arial, Verdana, sans-serif;
        }
  header
        {

          padding-left: 200px;
          padding-right: 200px;
          text-align: center;
        }
  h1    {
        background-color: #FFCCFF;
        color: #FF0066;
        line-height: 200%;
        font-family: Georgia, "Times New Roman", serif;
        }
  p     {
    padding-left: 200px;
    text-align: left;
        color: #FF0000;
        font-size: .90em;
        }
  ul    {
        padding-left: 250px;
        text-align: left;
        font-weight: bold;
        }
  .nav  {
        text-align: center;
        color: #FF0066;
        font-weight: bold;
        font-size: 1.50em;
        }
footer
        {
          padding-left: 200px;
          padding-right: 200px;
          text-align: center;
        }
h5
{
  background-color: #FFCCFF;
  color: #FF0066;
  line-height: 200%;
  font-family: Georgia, "Times New Roman", serif;

}

  dt
        {
          padding-left: 200px;
          text-align: left;
          font-weight: bold;
          font-size: 1.00em;
        }


  dd
        {
        padding-left: 200px;
        }
